<!-- start custom head snippets -->

<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4802170714228040" crossorigin="anonymous"></script>
<div align="center" style="margin: 1em 0;">
<ins class="adsbygoogle"
     style="display:block; border-bottom: initial;"
     data-ad-client="ca-pub-4802170714228040"
     data-ad-format="auto"></ins>
</div>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script> -->

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4802170714228040"
      crossorigin="anonymous"></script>
      <ins class="adsbygoogle"
            style="display:block; text-align:center;"
            data-ad-layout="in-article"
            data-ad-format="fluid"
            data-ad-client="ca-pub-4802170714228040"
            data-ad-slot="8668883113"></ins>
      <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
      </script>


<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="{{site.baseurl}}/assets/favicon/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<!-- end custom head snippets -->
