---
layout: home
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_image: https://images.unsplash.com/photo-1540998145333-e2eef1a9822d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3183&q=80
  cta_label: 'Biography'
  cta_url: https://sites.google.com/view/okhwanlee/?pli=1
  caption: "[**Unsplash**](https://unsplash.com)"
excerpt: 'The important thing is to have an unbreakable heart.'
intro:
  - excerpt: 'Recent stories:'
paginate: true
---
<div class="grid__wrapper">
    {% for post in site.posts limit:8 %}
      {% include archive-single.html type="grid" %}
    {% endfor %}
  </div>
